body {
    font-family: 'Lobster', cursive;
    margin: 0%;
}

h1 {
    font-size: 50px;
}

.flexibale-container {
    display: flex;
    margin-bottom: 150px;
}

.Height {
    width: 50%;
    padding-left: 2%;
}

.Height img {
    width: 50%;
    margin-left: 100px;
}

.link-button {
    text-decoration: none;
    background-color: orange;
    padding: 10px 40px;
    border-radius: 10px;
}

.top-img {
    background-image: url(developer-portfolio-main/images/top-banner.png);
    background-repeat: no-repeat;
}

.second {
    display: flex;
}

.second {
    background-image: url(developer-portfolio-main/images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.orange-color {
    color: orange;
}

.A {
    box-shadow: 10px 10px 40px gray;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 10px;
}

#full {
    border-left: 5px solid tomato;
}

#baby {
    border-left: 5px solid blue;
}

#D {
    color: orange;
}

.experience-area {
    background-image: url(developer-portfolio-main/images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

.B {
    box-shadow: 10px 10px 40px gray;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 10px;
    border-left: 5px solid blue;
}

footer p {
    text-align: center;
}