body {
    font-family: 'Lobster', cursive;
    margin: 0%;
}

h1 {
    font-size: 50px;
}

section {
    display: flex;
}

.Height {
    width: 50%;
    padding-left: 2%;
}

.Height img {
    width: 50%;
    margin-left: 100px;
}

.link-button {
    text-decoration: none;
    background-color: orange;
    padding: 10px 40px;
    border-radius: 10px;
}

.top-img {
    background-image: url(developer-portfolio-main/images/top-banner.png);
    background-repeat: no-repeat;
}

.second {
    display: flex;
}

.dram-big {
    width: 50%;
}

.big {
    width: 50%;
    padding-left: 10px;
}

.second {
    background-image: url(developer-portfolio-main/images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.orange-color {
    color: orange;
}

.A {
    box-shadow: 10px 10px red;
    width: 50%;
    padding-left: 2%;
    padding-bottom: 10px;
}


}